h1{
    color:rgba(255, 30, 0, 0.918);
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-stretch: narrower;
    opacity:1;
}
h2{
    color:orangered;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight:bolder;
    opacity:1;
}
ol{
    color:brown;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    opacity:1;
}
.line{
    text-decoration: line-through;
    font-weight: bold;
}
.mark{
    font-weight: bold;
    background-color: rgb(208, 255, 0);
}
ul{
    letter-spacing: 5px;
    line-height: 20px;
    font-size: large;
    color:brown;
}
p{
    color:chocolate;
    opacity:1;
}
.li4{
    font-style: oblique;
    text-decoration: underline;
}
.a{
    font-weight: bold;
    font-size: medium;
    font-style: oblique;
    background-color: rgb(208, 255, 0);
}